.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.app__container {
  margin-top: 100px;
  width: 100%;
  max-width: 714px;
}

.todo-list-container {
  border: 1px solid black;
  width: 100%;
  max-width: 714px;
}
